.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 737px;
}

.u-section-1 .u-group-1 {
  width: 710px;
  min-height: 627px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  height: auto;
  margin: 55px auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 50px 40px 50px 80px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 37px 0 0;
}

.u-section-1 .u-form-1 {
  width: 515px;
  margin: 21px auto 0;
}

.u-section-1 .u-form-group-1 {
  width: 100%;
}

.u-section-1 .u-form-group-2 {
  width: 100%;
}

.u-section-1 .u-form-group-3 {
  width: 100%;
}

.u-section-1 .u-form-group-4 {
  width: 100%;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    width: 540px;
    min-height: 624px;
    height: auto;
  }

  .u-section-1 .u-form-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 559px;
    min-height: 627px;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 125px 30px 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 500px;
    min-height: 615px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 80px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    min-height: 563px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 65px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }
}