.u-section-1 {
  background-image: url("images/gasilskiDom.jpg");
  min-height: 917px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 947px;
  background-image: none;
  margin-top: 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 25px;
}

.u-section-1 .u-text-1 {
  font-size: 4.0625rem;
  font-weight: 700;
  margin: 2px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  line-height: 2.2;
  margin: 63px 153px 0;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 582px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 781px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.4375rem;
  }

  .u-section-1 .u-text-2 {
    margin-left: 53px;
    margin-right: 53px;
    color: rgb(33, 36, 39) !important;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 72px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }
}